/* 
    General Styles
*/

.color,
.colorFooter{
    background-color: #9acd32;
}

.button {
    background-color: lightgreen;
    border-radius: 1px;
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.favorite{
    background-color: lightgreen;
    float: right;
}

.scrolling-wrapper{
	overflow-x: auto;
}

.horizontal-section{
    width: auto; height: auto;
    display: flex;
    justify-content: space-between;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.button1{
    background-color: lightgreen;
    border-radius: 4px;
    border-color: black;
    padding: 4px;
    color: black;
}

.dropdown-center{
    margin-right: 27px;
}

.horizontal-section2{
    width: 403px;
}

.horizontal-section1{
    width: 403px;
    
}

.buttonfav{
    float: right;
}

.horizontal-section3{
    border-left-width: 1px;
    margin-left: 364px;

}

.horizontal-section{
    width: 403px;
}